<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redis search</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="bar">
            <h3>Know the zip code?</h3>
            <form>
                <input v-model="plz" ref="plz" type="text" placeholder="enter the zip-code"><br>
            </form>
            <button @click="getCity()">Search for city and state</button>
            <h3 v-if="city">The city is: {{city}}</h3>
            <h3 v-if="state"> The state is: {{state}}</h3>
            <h3 v-if="error">{{error}}</h3>
        </div>

        <div class="bar">
            <h3>Know the name of the city?</h3>
            <form>
                <input v-model="city" ref="city" type="text" placeholder="enter the city"><br>
            </form>
            <button @click="getZipCode()">Search for zip code</button><br>
                <span v-if="zipCodes.length">These are the zip codes <br>{{zipCodes}}</span>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>

